name: CI - Build Landingpage

on:
	workflow_dispatch: {}

jobs:
	build_landingpage:
		name: Build and Push Docker image
		runs-on: ubuntu-latest
		env:
			REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
			REGISTRY_PASS: ${{ secrets.REGISTRY_PASS }}
			# optional: set REGISTRY_HOST in repository secrets (e.g. ghcr.io, docker.io)
			REGISTRY_HOST: ${{ secrets.REGISTRY_HOST || 'docker.io' }}

		steps:
			- name: Checkout repository
				uses: actions/checkout@v4

			- name: Set short SHA
				run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-8)" >> $GITHUB_ENV

			- name: Set up QEMU
				uses: docker/setup-qemu-action@v2

			- name: Set up Docker Buildx
				uses: docker/setup-buildx-action@v3

			- name: Login to container registry
				uses: docker/login-action@v2
				with:
					username: ${{ env.REGISTRY_USER }}
					password: ${{ env.REGISTRY_PASS }}
					registry: ${{ env.REGISTRY_HOST }}

			- name: Build and push image
				uses: docker/build-push-action@v4
				with:
					context: ./app
					file: ./app/Dockerfile
					push: true
					tags: ${{ env.REGISTRY_USER }}/landingpage:${{ env.SHORT_SHA }}

